body{
    background-color: black;
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#heading{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px;
}
#p1{
    font-size: 15px;
    font-family: consolas, sans-serif;
    color: #00FF73;
    border: 5px solid white;
    border-radius: 5px;
}
h3{
    color: white;
}
